<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Internal server error</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    </head>
    <body>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Unexpected exception occurred!</h4>
                <p class="mb-0" th:text="${errorMsg}"></p>
            </div>
        </div>
    </body>
</html>