<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Users Management Page</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/utils.js}"></script>
    </head>
    <body>
        <div class="container">
            <input type="hidden" th:value="${successMsg}" id="successMsg">
            <div class="modal" tabindex="-1" id="successModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Success</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p th:text="${successMsg}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal();">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group" style="width:100%;" role="group">
                <button type="button" class="btn btn-success btn-lg btn-block" th:onclick="'javascript:onCreateUserClicked();'">
                    Create user
                </button>
                <button th:text="'Logout (' + ${loggedUser} + ')'" type="button" class="btn btn-info" th:onclick="logout();">
                    Logout
                </button>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Login</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.login}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-success" th:onclick="'javascript:onEditClicked('+${user.id}+');'">Edit</button>
                            <button type="button" class="btn btn-outline-danger button-delete" th:id="${'delete-' + user.id}" th:data-id="${user.id}">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>