<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registraation success</title>
    </head>
    <body>
        <center>
            <span th:text="'A verification email has been sent to: ' + ${email}"></span>
        </center>
    </body>
</html>